////////////////////////////////////////////////////////////////////////
//                               reset                                //
////////////////////////////////////////////////////////////////////////

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

////////////////////////////////////////////////////////////////////////
//                               layout                               //
////////////////////////////////////////////////////////////////////////

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 5rem;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-max-score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    .max-score {
      font-size: 5rem;
    }
  }

  .container-panel-score {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .container-panel-score__div-character-player {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-panel-score__div-character-player1 {
    font-size: 2.5rem;
    width: 20%;
  }

  .container-panel-score__div-character-player2 {
    font-size: 2.5rem;
    width: 20%;
  }
}


////////////////////////////////////////////////////////////////////////
//                             components                             //
////////////////////////////////////////////////////////////////////////


